body {
  background-color: yellow;
}

h1 {
  color: black;
  font szie: 200%;
  border: dashed 3px black; 
}
li, tr {
  background-color: purple;
  text shadow: 2px 2px;
}

.navbar{
 
  background-color: purple;
  overflow: hidden;
  display: block;
  top: 10;
 
}

.navbar a{
  
  text-decoration: none;
  color: yellow;
  float: right;
  padding: 10px 44px;
  font-size: 20px;
  
}






  
